name: CI

on:
  - push
  - pull_request

jobs:
  Offers-Integration-Tests:
    name: Offers Integration Tests
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.16"]
    steps:
    - uses: actions/checkout@v3
    - name: Install Flow CLI
      run: sh -ci "$(curl -fsSL https://raw.githubusercontent.com/onflow/flow-cli/master/install.sh)" -- v0.41.0
    - name: Flow cli Version
      run: flow version
    - name: Update PATH
      run: echo "/root/.local/bin" >> $GITHUB_PATH
    - name: Run tests
      run: sh test.sh

